.full-width {
  width: 100%;
  margin-bottom: 15px;
}

mat-dialog-content {
  min-width: 500px;
  padding: 20px 24px;
}

mat-dialog-actions {
  padding: 16px 24px;
}

button[disabled] {
  opacity: 0.6;
}

mat-spinner {
  margin: 0 auto;
}
